/* Content page properties for restaurants template */
#content-wrapper{
  width: 100%;
  position: absolute;
  padding: 15px;
}
.restaurant-list{
  margin-top: 20px;
}
legend h1 {
  color: #1b6d85 !important;
}