#menu {
  background-color: white;
  color: black;
  min-height: 500px;
}

.equal {
  height: 150px;
}
.title-menu{
  margin-top: 20px;
}
.subtitle-menu{
  margin-top: 30px;
}
.margin-b{
  margin-bottom: 20px;
}
.margin-btn{
  margin-right: 4px;
}
