{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="container">
	<form class=" well form-horizontal top-margin" method="POST" action="{{url_for('.edit_restaurant', restaurant_id=restaurant.id)}}">
        <legend>Create New Restaurant</legend>
	    {{ form.csrf_token }}
	    {{ wtf.form_field(form.name,form_type="horizontal", horizontal_columns=('lg', 4, 4), value=restaurant.name)}}
	    {{ wtf.form_field(form.phone, form_type="horizontal", horizontal_columns=('lg', 4, 4), value=restaurant.phone)}}
        {{ wtf.form_field(form.email, form_type="horizontal", horizontal_columns=('lg', 4, 4), value=restaurant.email)}}
        {{ wtf.form_field(form.course, form_type="horizontal", horizontal_columns=('lg', 4, 4)) }}
        {{ wtf.form_field(form.description, form_type="horizontal",horizontal_columns=('lg', 4, 4))}}
        {{ wtf.form_field(form.website, form_type="horizontal", horizontal_columns=('lg', 4, 4),value=restaurant.website)}}
        {{ wtf.form_field(form.street, form_type="horizontal", horizontal_columns=('lg', 4, 4),value=address.street)}}
        {{ wtf.form_field(form.city, form_type="horizontal", horizontal_columns=('lg', 4, 4),value=address.city) }}
        {{ wtf.form_field(form.state, form_type="horizontal", horizontal_columns=('lg', 4, 4),value=address.state)}}
        {{ wtf.form_field(form.zip_code, form_type="horizontal", horizontal_columns=('lg', 4, 4),value=address.zip_code)}}

        <input type="submit" class="btn btn-primary" value="update">
        <button type="submit"class="btn btn-danger"><a href="{{ url_for('.show_restaurants') }}">Cancel</a></button>
	</form>
    </div>
    <div class="container">

    </div>
{% endblock %}