{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="container">
	<form class=" well form-horizontal top-margin" method="POST" action="{{url_for('.create_restaurant')}}">
        <legend><h1>Create New Restaurant</h1></legend>
	    {{ form.csrf_token }}
	    {{ wtf.form_field(form.name,form_type="horizontal", horizontal_columns=('lg', 4, 4), button_map={})}}
	    {{ wtf.form_field(form.phone, form_type="horizontal", horizontal_columns=('lg', 4, 4), button_map={}) }}
        {{ wtf.form_field(form.email, form_type="horizontal", horizontal_columns=('lg', 4, 4), button_map={}) }}
        {{ wtf.form_field(form.course, form_type="horizontal", horizontal_columns=('lg', 4, 4)) }}
        {{ wtf.form_field(form.description, form_type="horizontal", horizontal_columns=('lg', 4, 4), button_map={}) }}
        {{ wtf.form_field(form.website, form_type="horizontal", horizontal_columns=('lg', 4, 4), button_map={}) }}
        {{ wtf.form_field(form.street, form_type="horizontal", horizontal_columns=('lg', 4, 4), button_map={}) }}
        {{ wtf.form_field(form.city, form_type="horizontal", horizontal_columns=('lg', 4, 4), button_map={}) }}
        {{ wtf.form_field(form.state, form_type="horizontal", horizontal_columns=('lg', 4, 4), button_map={}) }}
        {{ wtf.form_field(form.zip_code, form_type="horizontal", horizontal_columns=('lg', 4, 4), button_map={}) }}

        <input type="submit" class="btn btn-primary" value="Create">
        <a class="btn btn-danger" href="{{ url_for('.show_restaurants')}}">Cancel</a>

	</form>
    </div>
    <div class="container">

    </div>
{% endblock %}