.navbar {
  margin-bottom: 0 !important; }

.navbar-default .navbar-brand {
  color: #F05f40 !important; }

.hero-image {
  position: relative; }
  .hero-image img {
    max-height: 1000px;
    display: block;
    width: 100%;
    background-size: cover;
    margin: 0 auto;
    background-position: center; }
  .hero-image .hero-content {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center; }
  .hero-image .hero-title {
    font-weight: 300;
    color: #F05f40;
    font-size: 2.4rem; }
    @media (min-width: 530px) {
      .hero-image .hero-title {
        font-size: 8.5rem; } }
  .hero-image .hero-subtitle {
    top: 40%;
    margin: 0;
    color: white;
    font-weight: 300; }

.wrapper {
  background-color: #101010 !important; }

.top-margin {
  margin-top: 50px !important; }

#about {
  background-color: #F05f40;
  color: #eee;
  min-height: 270px; }

.title-about {
  margin-top: 30px; }

.subtitle-about {
  margin-top: 10px; }

#menu {
  background-color: white;
  color: black;
  min-height: 500px; }

.equal {
  height: 150px; }

.title-menu {
  margin-top: 20px; }

.subtitle-menu {
  margin-top: 30px; }

.margin-b {
  margin-bottom: 20px; }

.margin-btn {
  margin-right: 4px; }

#contact {
  background-color: #101010;
  color: #eee;
  min-height: 200px; }

#sidebar-menu {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: #2C3E50;
  opacity: 0.9;
  padding-top: 50px; }

#wrapper.menuDisplayed #sidebar-menu {
  width: 250px; }

#wrapper.menuDisplayed #content-wrapper {
  padding-left: 250px; }

.sidebar-nav {
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav a {
  display: block;
  text-decoration: none;
  color: #eee; }

.sidebar-nav li a:hover {
  background: #16A085; }

legend {
  color: #eee;
  padding-top: 20px;
  padding-left: 8px; }

/* Content page properties for restaurants template */
#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

.restaurant-list {
  margin-top: 20px; }

legend h1 {
  color: #1b6d85 !important; }

.fb-login {
  color: #F05f40;
  margin-top: 25%; }

.header-image {
  display: block;
  width: 100%;
  height: 1000px;
  text-align: center;
  background: url("../img/background-opacity.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.headline {
  padding: 120px 0; }

.headline h1 {
  font-size: 130px;
  color: #fff;
  font-weight: 300; }

.headline h2 {
  font-size: 77px;
  color: #fff;
  font-weight: 200; }

.featurette-divider {
  margin: 80px 0; }

.featurette {
  overflow: hidden; }

.featurette-image.pull-left {
  margin-right: 40px; }

.featurette-image.pull-right {
  margin-left: 40px; }

.featurette-heading {
  font-size: 50px; }

footer {
  margin: 50px 0; }

@media (max-width: 1200px) {
  .headline h1 {
    font-size: 140px; }

  .headline h2 {
    font-size: 63px; }

  .featurette-divider {
    margin: 50px 0; }

  .featurette-image.pull-left {
    margin-right: 20px; }

  .featurette-image.pull-right {
    margin-left: 20px; }

  .featurette-heading {
    font-size: 35px; } }
@media (max-width: 991px) {
  .headline h1 {
    font-size: 105px; }

  .headline h2 {
    font-size: 50px; }

  .featurette-divider {
    margin: 40px 0; }

  .featurette-image {
    max-width: 50%; }

  .featurette-image.pull-left {
    margin-right: 10px; }

  .featurette-image.pull-right {
    margin-left: 10px; }

  .featurette-heading {
    font-size: 30px; } }
@media (max-width: 768px) {
  .container {
    margin: 0 15px; }

  .featurette-divider {
    margin: 40px 0; }

  .featurette-heading {
    font-size: 25px; } }
@media (max-width: 668px) {
  .headline h1 {
    font-size: 70px; }

  .headline h2 {
    font-size: 32px; }

  .featurette-divider {
    margin: 30px 0; } }
@media (max-width: 640px) {
  .headline {
    padding: 75px 0 25px 0; }

  .headline h1 {
    font-size: 60px; }

  .headline h2 {
    font-size: 30px; } }
@media (max-width: 375px) {
  .featurette-divider {
    margin: 10px 0; }

  .featurette-image {
    max-width: 100%; }

  .featurette-image.pull-left {
    margin-right: 0;
    margin-bottom: 10px; }

  .featurette-image.pull-right {
    margin-bottom: 10px;
    margin-left: 0; } }
.ghost-btn-white {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-size: 25px;
  padding: 10px 20px;
  font-weight: 200;
  margin: 6px 0;
  margin-top: 40px;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none !important;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px; }

.ghost-btn-white:hover, .ghost-btn-white:active {
  color: #F05f40;
  border: 1px solid #F05f40; }

.ghost-btn-black {
  color: #000;
  background: transparent;
  border: 1px solid #000;
  font-size: 25px;
  padding: 10px 20px;
  font-weight: 200;
  margin: 6px 0;
  margin-top: 40px;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none !important;
  font-family: 'Open Sans', sans-serif;
  min-width: 120px; }

.ghost-btn-black:hover, .ghost-btn-black:active {
  color: #F05f40;
  border: 1px solid #F05f40; }

/*# sourceMappingURL=style.css.map */
