{% extends "base.html" %}
{% block content %}

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Welcome</h1>
                <h2>Enjoy places to eat near you</h2>
                <a class="ghost-btn-white" href="{{ url_for('restaurant_b.show_restaurants') }}">See our list</a>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" src="../static/img/look-500x500.jpg">
            <h2 class="featurette-heading">Stay here and quick something
                <span class="text-muted">Will Catch Your Eye</span>
            </h2>
            <p class="lead">With the largest restaurant database in the country you will have plenty of places to chose from.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="../static/img/restaurant-600x600.jpg">
            <h2 class="featurette-heading">Have your own Restaurant?
                <span class="text-muted">Promote it here free of charge</span>
            </h2>
            <p class="lead">We are growing our consumer market every second, come join and grow with us. </p>
            <a class="ghost-btn-black" href="{{ url_for('auth.show_login') }}">Create free account</a>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette">
            <img class="featurette-image img-circle img-responsive pull-right" src="../static/img/food-500x500.jpg">
            <h2 class="featurette-heading">taste the best food
                <span class="text-muted">money can buy</span>
            </h2>
            <p class="lead">American food DONE, Mexican food DONE, Italian food DONE DONE DONE!!! Everything you could ask for is right here.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}
